body{
    
}

.home{
    background-color: rgb(227, 230, 230);
    max-width: 94rem;
    background-image: url("/img/bg.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.responsive-container{
    height: auto;
}

.product-card{
    margin-top: 14rem;
}

.product-card-heading{
    font-weight: bold;
}

.product-card-desc{
    font-size: 0.8rem;
}

.product-card-footer{
    font-size: 0.8rem;
    color: rgb(0, 113, 133);
}

.product-card-footer:hover{
    color: rgb(199, 81, 31);
    cursor: pointer;
}

.custom-hover:hover{
    cursor: pointer;
}

.product-card-image{
    max-width: 100%;
}

@media only screen and (max-width: 500px) {
    .product-card-heading{
        font-size: 0.5rem;
    }

    .responsive-container{
        height: 15rem;
    }

    .product-card-desc{
        font-size: 0.3rem;
    }

    .product-card-footer{
        font-size: 0.3rem;
    }
}