body{
    
}

.home{
    max-width: 94rem;
    background-image: url("/img/bg.jpg");
    background-size:contain;
    background-repeat: no-repeat;
}

.responsive-container{
    height: 25rem;
}

.product-card{
    margin-top: 16.5rem;
}

.product-card-heading{
    font-weight: bold;
}

.product-card-desc{
    font-size: 0.8rem;
}

.product-card-footer{
    font-size: 0.8rem;
    color: rgb(0, 113, 133);
}

.product-card-footer:hover{
    color: rgb(199, 81, 31);
    cursor: pointer;
}

.custom-hover:hover{
    cursor: pointer;
}
